---
const {title} = Astro.props
const {style_type} = Astro.props
const {style_type_second} = Astro.props

function randomId() {
  let id = Math.floor(Math.random() * 3)
  return id
}

let number = randomId()

const shortcut = `./src/media/pokelogo${number}.png`
---

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="nixcdev">
  <meta name="description" content="A poke wiki created with Astro.">
  <meta name="robots" content="index">
  <link rel="stylesheet" href={style_type}>
  <link rel="stylesheet" href={style_type_second}>
  <title>{title}</title>
  <link rel="shortcut icon" href={shortcut} type="image/png">
  <script src="https://kit.fontawesome.com/2082b56afe.js" crossorigin="anonymous"></script>
</head>